@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #b4c0cc;
}

/*--- Nav Scrolling Offset --*/
.offset:before {
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*============= GENERALES =============*/

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

/*Titulos con el signo de +*/

h3.heading {
  text-transform: uppercase;
  text-align: center;
  color: #01004E;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1.9rem 0;
}

.svg-inline--fa.fa-plus.fa-w-14 {
  color: #F2C43E!important;  
}

.no-padding{
  padding-left: 0;
  padding-right: 0;
}


/*============= NAVEGACIÓN =============*/

.navbar {
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 700;
  letter-spacing: .1rem;
  transition: background-color .5s ease 0s;
  background: rgba(0, 25, 61, 0.9)!important;
}
.navbar-brand img {
  height: 2rem;
}


#home.svg-inline--fa{
 height: 20px;
}

.svg-inline--fa.fa-bars.fa-w-14{
color: white;
}

.social-media .svg-inline--fa {
  color: white;
  font-size: 1.2rem;
}

.navbar-nav li {
  padding-right: .8rem;
}
.navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: rgb(168, 168, 168);
}
.navbar-down {
  background: rgba(1, 34, 83, 0.9)!important;
  transition: background-color 1s ease 0s;
}

/*=================================================================
-------------------------------INDEX-------------------------------
=================================================================*/

/*============= HERO SLIDER =============*/

.carousel-item {
  height: 100vh; /*--- Change Height of Image Slider --*/
  min-height: 18.75rem; /*--- (300px for mobile) --*/
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #1A1A1A; /*--- For Firefox white between slides --*/
}
/*---Change Carousel Transition Speed --*/
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
  transition: -webkit-transform 1.2s ease;
  transition: transform 1.2s ease;
  transition: transform 1.2s ease,-webkit-transform 1.2s ease;
}
.carousel-caption {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height:100%;
  z-index: 1;
  right: 0;
  left: 0;
  padding: 0;
}
.carousel-item h1 {
  color: white;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .5rem .5rem .8rem black;
  padding-bottom: .3rem;
}
.carousel-item h3 {
  color: white;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: .5rem .5rem .5rem black;
  padding-bottom: .5rem;
}

.carousel-item .interno h1 {
  padding-top: 17rem !important;
  padding-bottom:0 !important;
  text-shadow: .5rem .5rem 1rem black;
}

.carousel-item .interno h3 {
  padding:0 !important;
  margin-top: -1rem !important;
  text-shadow: 1rem 1rem 3rem black;
}


/*============= SERVICIOS =============*/

.row.padding {
  padding: 2rem 0 1rem;
}
img.example-image {
  width: 100%;
}
.row.no-padding [class*=col-] {
  padding: 0;
}

.efecto {
  transition: transform .4s ease;
  overflow: hidden;
}

.efecto .servicio-caption{
  position: absolute;
  bottom:0;
  width: 100%;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px;
}

.efecto:hover {
  transform: scale(1.2);
}

.servicio-caption h3{
  font-size: 1.3rem;
  text-align: center;
  color:white;
}

.btn-blanco {
  border-color: white;
  color: white;
  border-radius: 40px; 
  border-width: medium;
  padding: .5rem 1.1rem;
  font-size: .7rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.btn-blanco:hover,
.btn-blanco:focus {

  background-color: white;
  color: #01004E;
}

/*============= COBERTURA =============*/
.mapa{
  margin: 0 auto;
}

.mapa img{
  width: 100%;
}
.cobertura-caption{
  text-align: center;
  align-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
  padding: 0;
}

.texto{
  padding: 30% 0 ;
  align-items: center !important;
}

.cobertura-caption h3{
  color: white;
  font-size: 5.7rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .5rem .5rem .8rem black;
  padding-bottom: .3rem;
}


.btn-azul {

  background-color: #01004E;
  color: white;
  border-radius: 40px; 
  border-width: medium;
  padding: .5rem 1.1rem;
  font-size: .7rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.btn-azul:hover,
.btn-azul:focus {

  background-color: white;
  color: #01004E;
}

/*============= CULTURA =============*/

.cultura{
  background-size: 100%;
  background-image: url('imagenes/full-width-image/cultura/full-width-image-banner-cultura-organizacional-gde.png'); 
}

.texto-cultura {
  padding: 2rem 2rem;
  text-align: center;
  z-index: 1000!important;
}
.texto-cultura h3{
  color: white;
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

/*============= TDRTV =============*/
.container-fluid.TV{
  padding: 3rem 0;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 24%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(24%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 24%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 24%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 24%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 24%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.TDR-TV .TDRTV-item{
  padding: .5rem;
  margin: 0!important;
  overflow: hidden;
}
.img-fluid{
  width: 100%;
}
.TDR-TV .TV-caption{
  text-align: center;
  padding: 1.5rem .5rem;
  margin: auto 0;
}

.TDR-TV .TV-caption img{
  max-width: 90%;
}

.TDR-TV .TV-caption p{
  padding-top: 1.2rem;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: rgb(179, 179, 179) 0.2rem 0.2rem 0.4rem;
  font-family: 'lato', sans-serif;
  letter-spacing: 3px;
}

.TDR-TV .TV-caption a{
  color: white;
  padding: 10px 20px;
  background-color: #01004E;
  text-decoration: none;
  font-size: .6em;
  border-radius: 40px;
}

.TDR-TV .TV-caption a:hover{
  border-color: #01004E;
}

.TDR-TV.imagen-video{
  width: 100%;
}

.modal-content{
  top: 30% !important;
}

.efecto2{
  cursor: pointer;
  transition: transform .4s ease;
  overflow: hidden;
}

.efecto2:hover{
  transform: scale(1.1);
}

/*============= REDES SOCIALES =============*/

.redes-sociales{
  padding-bottom: 2rem;
}

/*============= RECLUTAMIENTO =============*/

.reclutamiento{
  background-size: 100%;
  background-image: url('imagenes/full-width-image/reclutamiento/full-width-image-reclutamiento-gde.png'); 
}
.reclutamiento2{
  background-size: 100%;
  background-image: url('imagenes/full-width-image/reclutamiento/COTIZACIONES.jpg'); 
}


.texto-reclutamiento {
  padding: 10rem 2rem;
  text-align: center;
  z-index: 1000!important;
  color: white;
}

h3.reclutador{
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

.texto-reclutamiento p{
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

/*============= CERTIFICACIONES y PROVEEDORES =============*/
.certificacion, .proveedor{
  margin: auto 0;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right:auto;
}

.certificacion img, .proveedor img{
  width: 90%;
}


/*============= FOOTER =============*/
footer{
  background-color:rgb(1, 34, 83);
}
.social-media{
  font-weight: 700;
}
.social-media, .ic{
  color: #01004E !important;
  font-size: 1.3rem;
  text-transform: uppercase;
}

footer h6 span{
  color: #F2C43E;
}

/*============= TOP SCROLL =============*/

.top-scroll svg.svg-inline--fa {
  font-size: 3rem;
  height: 1.7rem;
  color: #53595f;
  background: white;
}
a.top-scroll {
  right: 1.2rem;
  bottom: 1.2rem;
  position: fixed;
  opacity: .3;
  z-index: 1000;
  display: none;
}
a.top-scroll:hover {
  opacity: .5;
}


/*=================================================================
-----------------------------SERVICIOS-----------------------------
=================================================================*/

/*============= HEADER =============*/
.linea-emergencia p{
  text-align: right !important;
  font-size: .7rem;
}

.header{
  background-size: 100%;
}
.header-servicios{
  background-image: url('imagenes/full-width-image/servicios/full-width-image-title-banner-servicios-gde.png');
}

.texto-header {
  padding: 7rem 2rem 5rem 2rem;
  text-align: center;
  z-index: 1000!important;
}

.h3-texto-header{
  color: white;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

/*============= TRANSPORTE Y ALMACENAJE =============*/

.almacenaje-caption, .transporte-caption{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  position: absolute;
  color: white;
  bottom:0;
  width: 100%;
  padding-bottom: 15px;
}

.banner-almacenaje{
  padding-right: .5rem;
}

.banner-transporte {
  padding-left: .5rem;
}

.light {
  background-color: rgba( 255, 255, 255, .85);
  padding: 3rem 2rem 2rem;
  z-index: 1000!important;
}
.card {
  border-radius: 0;
  border: .1rem solid rgba(0, 0, 0, .075);
  box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
  margin: 0 1rem;
  transition: transform .4s ease;
}
.card-img-top {
  border-radius: 0;
}
.card:hover {
  transform: scale(.95);
}
.card h4 {
  font-weight: 700;
  color: #01004E;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.card p {
  border-top: .1rem solid rgba(0, 0, 0, .1);
  border-bottom: .1rem solid rgba(0, 0, 0, .1);
  padding: 1rem;
  margin: 1rem 0 1.5rem;
}

.owl-dot.active span,
.owl-dot:hover span {
  background: #F2C43E!important;
}

.card-servicios p{
  font-family: 'Lato', sans-serif;
  color: black;
}

.almacenaje-transporte{
  height: 100% !important;
}

/*============= cobertura =============*/
.mapa-cobertura img{
  max-width: 70%;
}

/*============= EL MEJOR EQUIPO =============*/

.carousel-item.equipo {
  height: 50vh; /*--- Change Height of Image Slider --*/
  min-height: 18.75rem; /*--- (300px for mobile) --*/
}

.caption-tipo-servicio{
  background-color: rgba(1, 0, 78, 0.527);
  display: flex;
  align-items: center;
  justify-content: center;
}

h2.tipo-remolque{
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
}


/*=================================================================
-----------------------------CULTURA-----------------------------
=================================================================*/

/*============= HEADER =============*/

.header-cultura{
  background-image: url('imagenes/full-width-image/cultura/full-width-image-title-banner-nuestra-cultura-gde.png');
}

/*============= CULTURA ORGANIZACIONAL =============*/

.cultura-organizacional{
  padding: 2rem 0;
}

.cultura-organizacional .card{
  height: 100%;
}

.cultura-organizacional p{
  font-family: 'Lato', sans-serif;
  color: black;
}

/*============= VIDEO CORPORATIVO =============*/
.video-corportaivo h3{
  margin-bottom: 0;
}
.video-corportaivo p{
  text-align: center;
  padding: 0;
  text-transform: uppercase;
  color: #01004E;
  font-size: 1.5rem;
  font-weight: 700;
}

.fondo-gris{
  padding-bottom: 3rem;
}

.video-fluid {
  width: 100%;
  height: 80%;
}

.fondo-gris{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+32,e1e1e1+69,f6f6f6+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 32%, rgba(225,225,225,1) 69%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 32%,rgba(225,225,225,1) 69%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 32%,rgba(225,225,225,1) 69%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

/*=================================================================
-----------------------------TDR - TV-----------------------------
=================================================================*/

/*============= HEADER =============*/


.header-tdr-tv{
  background-image: url('imagenes/full-width-image/tdr-tv/full-width-image-title-banner-tdr-tv-gde.png');
}

.logo-tdr-tv img{
  width: 40%;  
}

.abajo img{
  margin-top: 1.7rem;
}

.arriba{
 margin-bottom: 0;
}


/*=================================================================
---------------------------- CONTACTO -----------------------------
=================================================================*/

.header-contacto{
  background-image: url('imagenes/full-width-image/contacto/full-width-image-title-banner-contacto-gde.png');
}

.quejas{
  background-size: 100%;
  background-image: url('imagenes/full-width-image/contacto/full-width-image-banner-quejas-y-sugerencias-gde.png'); 
}

.contacto p{
  font-size: 1rem;
  padding-bottom:0; 
  margin-bottom: .3rem;
}

.map-responsive{
  padding: 0 !important;
}
.map-responsive iframe{
  width: 100%;
  height: 500px;

}
.btn-quejas{
  letter-spacing: .3rem;
}

/*============= MEDIA QUERIES =============*/
@media (max-width: 3200px) {
  .texto-reclutamiento {
    padding: 5rem 2rem;
  }
  .texto-cultura h3{

    font-size: 5rem;

  }
  h3.reclutador{

  font-size: 6.5rem;
  }
}
@media (max-width: 3000px) {
  .diamante img{
    width: 100%;
  }
}

@media (max-width: 2000px) {
  h3.reclutador{
    font-size: 4.5rem;
  }
  .texto-cultura h3{
    font-size: 3rem;
  }
  .logo-tdr-tv img{
    width: 60%;  
  }
}

@media (max-width: 1500px) {
  h3.reclutador{
    font-size: 4rem;
  }
  .texto-cultura h3{

    font-size: 2.5rem;
  }
  .logo-tdr-tv img{
    width: 45%;  
  }
}

@media (max-width: 1375px) {
  .texto-header {
    padding: 6rem 2rem 3rem 2rem;
  }
  .h3-texto-header{
    font-size: 4rem;
  }
  h3.reclutador{
    font-size: 2.7rem;
  }
  .texto-cultura h3{

    font-size: 2rem;

  }
}



/*Hacer más équeño el servicios*/
@media (max-width: 1300px) {
  .servicio-caption h3{
    font-size: 1rem;
  }
  
  .servicio-caption .btn-blanco {
    font-size: .5rem;
  }
  .texto{
    padding: 20% 0;
  }
}

/*Hacer más équeño el servicios*/
@media (max-width: 1999px) {
  .texto{
    padding: 30% 0;
  }
  .cobertura-caption h3{
    font-size: 4.2rem;
  }
}


/*Hacer más équeño el servicios*/
@media (max-width: 1710px) {
  .cobertura-caption h3{
    font-size: 3.4rem;
  }
}


/*Hacer más équeño el servicios*/
@media (max-width: 1500px) {
  .cobertura-caption h3{
    font-size: 2.7rem;
  }
}

/*Hacer más équeño el servicios*/
@media (max-width: 1300px) {
  .cobertura-caption h3{
    font-size: 2.4rem;
  }
}

/*Hacer más équeño el servicios*/
@media (max-width: 1199px) {
  .cobertura-caption h3{
    font-size: 4.8rem;
  }
}


/* Eliminar la navbar */
@media (max-width: 1155px) {
  .social-media{
    display: none;
  }
  h2.tipo-remolque{
    font-size: 2.5rem;
  }
}

@media (max-width: 1110px) {
  .servicio-caption h3{
    font-size: .9rem;
  }
  .info-almacenaje p, .info-transporte p{
    font-size: .8rem;
  }
  
  .header-servicios{
    background-image: url('imagenes/full-width-image/servicios/full-width-image-title-banner-servicios-med.png'); 
  }

  .header-cultura{
    background-image: url('imagenes/full-width-image/cultura/full-width-image-title-banner-nuestra-cultura-med.png');
  }
  
  .header-tdr-tv{
    background-image: url('imagenes/full-width-image/tdr-tv/full-width-image-title-banner-tdr-tv-med.png');
  }

  .header-contacto{
    background-image: url('imagenes/full-width-image/contacto/full-width-image-title-banner-contacto-med.png'); 
  }
}

/* Devices under 992px (lg) */
@media (max-width: 991px) {
  .carousel-caption {
    min-width: 90%;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .social-media{
    display: none;
  }
  .carousel-item h1 {
    font-size: 3rem;
    letter-spacing: .2rem;
    padding-bottom: .8rem;
  }
  .carousel-item h3 {
    font-size: 2.2rem;
    padding-bottom: 1.7rem;
  }

  .servicio-caption h3{
    font-size: 1.6rem;
  }
  
  .servicio-caption .btn-blanco {
    font-size: .9rem;
  }

  .btn-lg {
    padding: .7rem 1.2rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 2.1rem;
  }
  .comodin{
    display: block !important;
  }
  .cultura{
    background-image: url('imagenes/full-width-image/cultura/full-width-image-banner-cultura-organizacional-med.png');
  }
  h2.tipo-remolque{
    font-size: 2.8rem;
  }
  .ocultar{
    display: none;  
  }
  .texto{
    padding: 30% 0;
  }
  .cobertura-caption h3{
    font-size: 4rem;
  }

  .quejas{
    background-image: url('imagenes/full-width-image/contacto/full-width-image-banner-quejas-y-sugerencias-med.png'); 
  }
  .contacto h3{
    font-size: 1.4rem !important ;
  }
}

/* Devices under 875px () */
@media (max-width: 875px) {
  .texto-cultura.derecho h3{
    font-size: 1rem;
  }
  h3.reclutador{
    font-size: 2.5rem !important;
  }
  .info-almacenaje p, .info-transporte p{
    font-size: .6rem;
  }
  .texto-header {
    padding: 5rem 2rem 2rem 2rem;
  }
  .h3-texto-header{
    font-size: 3rem;
  }

  .cobertura-caption h3{
    font-size: 3rem;
  }
}


/* Devices under 768px (md) */
@media (max-width: 767px) {
  .carousel-item h1 {
    font-size: 2.5rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .carousel-item h3 {
    padding: 0 5%;
    font-size: 1.7rem;
    padding-bottom: 1.2rem;
  }
  
  .efecto {
    height: 400px;
  }
  .servicio-caption{
    padding: 10px 0;
    margin-top: 1px;
    background-color: rgba(9, 29, 117, 0.5);
  }
  .efecto img{
    bottom: 0;
  }

  .servicio-caption h3{
    font-size: 1.8rem;
  }
  
  .servicio-caption .btn-blanco {
    font-size: .9rem;
  }
  
    .texto-cultura h3{
   font-size: 1.5rem;
  }

  .cultura .relleno, .equipo .relleno{
    display: none;
  }
  .btn-lg {
    padding: .6rem 1.1rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 1.8rem;
  }
  .clients img {
    max-width: 50%;
    margin: 0 auto;
  }
  .top-scroll {
    display: none!important;
  }

  .TV-1, .TV-2, .TV-3{
    display: none;
  }

  .banner-almacenaje, .banner-transporte {
    padding-right: 0;
    padding-left: 0;
  }
 

  .info-almacenaje p, .info-transporte p{
    font-size: 1rem;
  }
  .mapa-cobertura img{
    max-width: 100%;
  }

  .cobertura-caption h3{
    font-size: 2.7rem;
  }
}


@media (max-width: 660px) {
  .header-servicios{
    background-image: url('imagenes/full-width-image/servicios/full-width-image-title-banner-servicios-ch.png'); 
  }
  .h3-texto-header{
    font-size: 2rem;
  }
  .header-cultura{
    background-image: url('imagenes/full-width-image/cultura/full-width-image-title-banner-nuestra-cultura-ch.png');
  }
  .header-tdr-tv{
    background-image: url('imagenes/full-width-image/tdr-tv/full-width-image-title-banner-tdr-tv-ch.png');
  }
  .header-contacto{
    background-image: url('imagenes/full-width-image/contacto/full-width-image-title-banner-contacto-ch.png'); 
  }
  .cobertura-caption h3{
    font-size: 2rem;
  }

}


/* Devices under 600px (sm) */
@media (max-width: 600px) {
  h3.reclutador{
    font-size: 2.2rem !important;
  }

  h3.heading {
    font-size: 2rem;
  }
}
/* Devices under 576px (sm) */
@media (max-width: 575px) {
  .linea-emergencia{
    font-size: .5rem;
  }
  
  .carousel-item.active h1 {
    font-size: 1.9rem;
    letter-spacing: .1rem;
    padding-bottom: .4rem;
  }
  .carousel-item.active h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  .cultura{
    background-image: url('imagenes/full-width-image/cultura/full-width-image-banner-cultura-organizacional-ch.png')!important;
  }
  .texto-cultura h3{
    font-size: 1rem !important;
  }

  .btn-lg {
    padding: .4rem .9rem;
    font-size: .9rem;
  }
  .narrow {
    width: 85%;
  }

  .reclutamiento{
    background-image: url('imagenes/full-width-image/reclutamiento/full-width-image-reclutamiento-med.png'); 
  }

  .certificacion img, .proveedor img{
    width: 50%;
  }
  .info-almacenaje p, .info-transporte p{
    font-size: .7rem;
  }
  .h3-texto-header{
    font-size: 1.5rem;
  }
  .cobertura-caption h3{
    font-size: 1.5rem;
  }
  .quejas{

    background-image: url('imagenes/full-width-image/contacto/full-width-image-banner-quejas-y-sugerencias-ch.png'); 
  }
  .contacto h3{
    font-size: 1.5rem !important ;
  }  
  .comodin-quejas{
    display: none;
  }
}

@media (max-width: 450px) {
  .linea-emergencia{
    font-size: .45rem;
  }

  .gallery {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
  h3.reclutador{
     font-size: 1rem !important;
  }
  .header-servicios{
    background-image: url('imagenes/full-width-image/servicios/full-width-image-title-banner-servicios-xs.png'); 
  }
  .header-cultura{
    background-image: url('imagenes/full-width-image/cultura/full-width-image-title-banner-nuestra-cultura-xs.png');
  }

  .header-tdr-tv{
    background-image: url('imagenes/full-width-image/tdr-tv/full-width-image-title-banner-tdr-tv-xs.png');
  }
  .header-contacto{
    background-image: url('imagenes/full-width-image/contacto/full-width-image-title-banner-contacto-xs.png'); 
  }
  
  h2.tipo-remolque{
    font-size: 2em;
  }
  .cobertura-caption h3{
    font-size: .9rem;
  }
  .logo-tdr-tv img{
    width: 70%;  
  }
  .contacto h3{
    font-size: 1rem !important ;
  }
  .contacto p{
    font-size: .7rem !important ;
  }

}




/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
